.input {
  height: 40px;
  padding: 10px;
}

.suggestionContainer {
  background: white;
  color: black;
  width: 70%;
  border-radius: 10px;
  height: 200px;
  overflow: auto;
}

.ul {
  padding: 0;
}

.li {
  list-style: none;
  padding-left: 15px;
  font-weight: 700;
}
